<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <title>{% block head_title %}Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'blog/bootstrap.min.css' %}" media="screen">
    
    <script src="https://kit.fontawesome.com/cb522ecb1c.js" crossorigin="anonymous"></script>
</head>
<body>
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; 2022 Changyun Lee</p>
        </div>
    </footer>
</body>
<html>